*
.DS_Store

!.gitignore
!README.md
!LICENSE.md
!notes.txt
!package.json
!pnpm-workspace.yaml
!astro.config.mjs
!tsconfig.json
!wrangler.jsonc

!functions
!functions/**
!public
!public/**
!raw
!raw/**
!src
!src/**
