.drake {
    display: block;
    position: relative;
    padding-bottom: var(--gap32);
}
.drake .metadata {
    position: absolute;
    opacity: 0;
}
.drake:active .metadata {
    opacity: 1;
}
.bubble {
    width: calc(74px * var(--x));
    position: absolute;
    inset: 0;
    opacity: 0;
    transform: translateX(216%) translateY(176%);
    transition: opacity 1s ease;
}
.drake:hover .bubble {
    opacity: 1;
    transition-delay: 2.5s;
}
.drake:not(:hover) .bubble {
    opacity: 0;
    transition-delay: 0.25s;
}

@media /* mobile */ (min-width: 1px) and (max-width: 768px) {
    .drake {
        transform: translateY(calc(0px - var(--gap32))) !important;
        padding-bottom: 0;
    }
    .bubble {
        width: calc(74px * 1.6);
        transform: translateX(188%) translateY(176%);
    }
}
