.drake {
    display: block;
    position: relative;
}
.drake #metadata {
    position: absolute;
    opacity: 0;
}
.drake:active #metadata {
    opacity: 1;
}
#bubble {
    width: 190px;
    position: absolute;
    inset: 0;
    opacity: 0;
    transform: translateX(210%) translateY(180%);
    transition: opacity 1s ease;
}
.drake:hover #bubble {
    opacity: 1;
    transition-delay: 3s;
}
.drake:not(:hover) #bubble {
    opacity: 0;
    transition-delay: 1s;
}
