.wrapper {
    height: 100dvh;
    display: grid;
    grid-template-columns: calc(193px * var(--x)) calc(120px * var(--y));
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: var(--gap64);
    transform: translateX(calc(0px - var(--gap64)));
}
.left {
    grid-column: 1;
    grid-row: 1;
}
.right {
    grid-column: 2;
    grid-row: 1;
    padding: var(--gap32) 0;
}
