:root {
    --black: #020226;
    --darkblue: #161860;
    --blue: #0c18c0;
    --violet: #6b5cf5;
    --softblue: #63abff;
    --orange: #ffba63;
    --red: #f96280;
    --white: #fffaf5;
    --x: 2.6;
    --y: 2.8;
    --z: 4;
    --gap16: 1rem;
    --gap32: 2rem;
    --gap48: 3rem;
    --gap64: 4rem;
}

::selection {
    background: var(--blue);
    color: var(--red);
}
:focus {
    outline: none;
}

* {
    width: 100%;
    max-width: 100svw;
    height: auto;
    box-sizing: border-box;
    scrollbar-color: var(--darkblue) transparent;
    scroll-behavior: smooth;
    text-decoration: none;
    margin: 0;
    padding: 0;
    user-select: none;
    cursor: none;
}
html {
    font-size: 16px;
    font-family: "minibyte", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.05rem;
}
body {
    background: var(--softblue);
    color: var(--darkblue);
}
main {
    white-space: normal;
    word-break: break-word;
    overflow-x: hidden;
}

/* LAYOUT */
.wrapper {
    min-height: 100svh;
    display: grid;
    grid-template: auto / calc(193px * var(--x)) calc(120px * var(--y));
    justify-content: center;
    align-items: center;
    gap: var(--gap64);
    transform: translateX(calc(0px - var(--gap64)));
}
.left {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}
.right {
    grid-column: 2;
    grid-row: 1;
    padding: var(--gap32) 0;
    z-index: 2;
}

/* ELEMENTS */
img {
    display: block;
    image-rendering: pixelated;
    pointer-events: none;
}
.hover {
    display: none;
}

a {
    display: block;
}
:is(a, button):hover .static {
    display: none;
}
:is(a, button):hover .hover {
    display: block;
}

input {
    color: var(--blue);
    background: transparent;
    font-family: "minibyte", sans-serif;
    font-size: 14px;
    outline: none;
    border: none;
    user-select: auto;
}
input::placeholder {
    color: var(--violet);
}

button {
    color: transparent;
    background: transparent;
    outline: none;
    border: none;
}

@media /* mobile behavior */ (pointer: coarse) {
    * {
        cursor: auto;
    }
}
@media /* mobile */ (min-width: 1px) and (max-width: 768px) {
    :root {
        --y: 2.5;
        --z: 2.6;
    }
    .wrapper {
        grid-template: max-content max-content / calc(120px * var(--y));
        align-items: normal;
        gap: 0;
        transform: none;
        padding: var(--gap32) 0;
        padding-bottom: 0;
    }
    .left {
        grid-column: 1;
        grid-row: 2;
    }
    .right {
        grid-column: 1;
        grid-row: 1;
        padding: 0;
    }
}
@media /* tablet */ (min-width: 769px) and (max-width: 1024px) {
    :root {
        --x: 2;
        --y: 2.2;
        --z: 3.4;
    }
    .wrapper {
        gap: var(--gap32);
        transform: translateX(calc(0px - var(--gap32)));
    }
}
@media /* notebook */ (min-width: 1025px) and (max-width: 1440px) {
    :root {
        --x: 2.2;
        --y: 2.4;
        --z: 3.6;
    }
}
