<div class="drake" data-cursor="tickling">
    <img
        class="metadata"
        src="/assets/hover/drake.png"
        alt="Breeze of Skies - 216x288px, 6 colors, 2025"
    />
    <img
        class="bubble"
        src="/assets/bubble.webp"
        alt="H-hey! Quit it, that makes my scales itch."
    />
    <img
        src="/assets/drake.webp"
        alt="Breeze of Skies - 216x288px, 6 colors, 2025"
    />
</div>
