<header>
    <a href="#about" data-cursor="pointer">
        <img
            class="static"
            src="/assets/wqon.webp"
            alt="WQON — Pixel Dracologist, Type Designer & Web Developer"
        />
        <img class="hover" src="/assets/hover/wqon.png" alt="WQON — About Me" />
    </a>
</header>