---
import Drake from "../components/drake.astro";
import Header from "../components/header.astro";
import Link from "../components/link.astro";
import Subscribe from "../components/subscribe.astro";
---

<section class="wrapper">
    <div class="left">
        <Drake />
    </div>
    <div class="right">
        <Header />
        <nav>
            <Link
                link="https://wqon.art/"
                src="portfolio.png"
                alt="Portfolio (direct link)"
            />
            <Link
                link="https://wqontype.com/"
                src="pixel-fonts.png"
                alt="Pixel Fonts (direct link)"
            />
            <Link
                link="https://wqonart.itch.io/"
                src="pixel-assets.png"
                alt="Pixel Assets (new tab)"
                blank
            />
            <Link
                link="https://www.inprnt.com/gallery/wqonart/"
                src="art-prints.png"
                alt="Art Prints (new tab)"
                blank
            />
            <Link
                link="https://wqon.dev/"
                src="tools-apps.png"
                alt="Tools & Apps (direct link)"
            />
            <Link
                link="https://wqon.art/hire-me/"
                src="commissions.png"
                alt="Commissions (direct link)"
            />
            <Link
                link="mailto:hi@wqon.art"
                src="contact.png"
                alt="Contact (new tab)"
            />
            <Subscribe />
            <Link
                link="https://bsky.app/profile/wqon.art"
                src="bluesky.png"
                alt="Bluesky (new tab)"
                blank
            />
            <Link
                link="https://github.com/wqon"
                src="github.png"
                alt="GitHub (new tab)"
                blank
            />
            <Link
                link="https://www.tumblr.com/wqonart"
                src="tumblr.png"
                alt="Tumblr (new tab)"
                blank
            />
            <Link
                link="https://lospec.com/wqonart"
                src="lospec.png"
                alt="Lospec (new tab)"
                blank
            />
            <Link
                link="https://wqon.art/donate/"
                src="donate.webp"
                alt="Feed the Drake’s Jar (direct link)"
            />
        </nav>
    </div>
</section>
