---
import Drake from "../components/drake.astro";
import Header from "../components/header.astro";
import Link from "../components/link.astro";
---

<section class="wrapper">
    <div class="left">
        <Drake />
    </div>
    <div class="right">
        <Header />
        <Link
            link="https://wqon.art/"
            linkSrc="portfolio.png"
            linkAlt="Portfolio (direct link)"
        />
    </div>
</section>